/*
colors: 
dark blue hex: #006697;
light blue hex: #66a3c1;
joker hex: #8e3d5d;

max-width: 1280px

4 columns:
    305 width
    20 margin (gutter)

base: 5px;
*/

:root {
    --dark-blue: #006697;
    --light-blue: #66a3c1;
}

/* use variable by writing background-color: var(--dark-blue); */

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 320px;
    margin: 0 auto;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: var(--light-blue);
}

.button{
    background-color: var(--dark-blue);
    font-size: 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    margin: 5px;
    width: fit-content;
}


/**** Mobile first***/

/**** MENU*************/
/*** This is the cross/hamburger styling**/
.line {
    width: 35px;
    height: 4px;
    border-radius: 10px;
    background-color: #555555;
    margin-bottom: 5px;
}

.one{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.two{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.three{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}
/*This is how the lines should move, Should happen when you click**/
.one.open{
    transform: translateY(9px) rotateZ(45deg);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.two.open{
    width: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.three.open{
    transform: translateY(-9px) rotateZ(-45deg);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}


.menu {
/*    overflow: hidden;*/
    height: 3em;
    position: relative;
}

.hamburger, .logo, .login-button, .basket {
    float: left;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.logo{
    font-size: 10px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.login-button{
    font-size: 10px;
    right: 4em;
    padding: 5px;
    margin: 0;
    
}

.basket{
/*    width: 0.5em;*/
    right: 0;
}

.basket img{
    width: 2em;
}

nav{
    /*Here You style the menu*/
    width: 100%;
    max-height: 0;
    opacity: 0;
    clear: both;
    background-color: #fff;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    z-index: 0;
}

nav.slidedown{
    max-height: 100vh;
    width: 100%;
    opacity: 1;
    z-index: 10;
    transition: max-height 0.3s ease-out;
    background-color: #fff;
}
.main-menu{
    margin-top: 30px;
}

.main-menu li img{
    width: 15px;
    float: right;
}

nav.closing{
    transition: max-height 0.3s ease-in;
    max-height: 0;
}
        
.main-menu li{
    margin-top: 10px;
    width: 190px;
    padding: 5px;
    margin-top: 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
}

/*The styling of the sub menu*/
ul.submenu{
    padding-left: 10px;
    font-size: 12px;
    list-style: none;
    margin-top: 0;
    border-bottom: #fff solid 1px;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    opacity: 0;
}

.submenu li{
    background-color: #ddd;
}

.open-submenu #menu-item-education{
    background-color: grey;
}

.open-submenu ul.submenu{
    max-height: 100%;
    transition: max-height 0.3s ease-out;
    opacity: 1;
}

.open-submenu li img.education-arrow{
    transform: translateY(0px) rotateZ(180deg);
    transition: 0.3s ease-in-out;
}

/*
a.dropDownLink{
    text-decoration: none;
    font-family: @font-base;
    color: #ffffff;
    font-size: 25px;
}
*/

/***************CONTENT START PAGE************/

.banner{
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 20px;
    position: relative;
}

.register{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}


/****************THIS IS THE MAIN CONTENT*********/

.startContent{
    overflow: hidden;
    margin-top: 20px;
}

.start-box{
    background-color: #999;
    float: left;
    height: 9em;
    width: 48.3%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.start-box:nth-child(even){
    margin-right: 0;
}

.start-box h2{
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}


/********This is the newsletter banner*********/
.startNewsletter{
    overflow: hidden;
    margin-top: 20px;
    background-color: var(--light-blue);
    position: relative;
    height: 10em;
}

.newsLetter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/********FOOTER*********/
footer{
    background-color: #666; 
    height: 50px
}

footer p{
    color: #444;
    text-align: center;
    padding-top: 15px;
    font-size: 10px;
}




/*-- Desktop version --*/
@media (min-width: 640px){
    
    .logo{
        left:5em;  
    }
    .login-button{
        font-size: 15px;
    }
    
    .hamburger{
        display: none;
    }
    nav {
        display: inline-block;
        max-height: 200px;
        clear: none;
        opacity: 1;
        background-color: transparent;
    }
    .main-menu li{
        display: inline;
        border-bottom: none;
    }
    
    .main-menu li img{
        display: none;
    }
}


@media (max-width: 1280px) {
    

}

