/*
colors:
dark blue hex: #006697;
light blue hex: #66a3c1;
joker hex: #8e3d5d;

max-width: 1280px

4 columns:
    305 width
    20 margin (gutter)

base: 5px;
*/

:root {
    --dark-blue: #006697;
    --light-blue: #66a3c1;
    --dark-grey: #58595b;
}

/* use variable by writing background-color: var(--dark-blue); */

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 320px;
    margin: 0 auto;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: var(--light-blue);
}

.button{
    background-color: var(--dark-blue);
    font-size: 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    margin: 5px;
    width: fit-content;
}

/****************************/
/**** Mobile first***/
/****************************/

/**** MENU*************/
/*** This is the cross/hamburger styling**/
.line {
    width: 35px;
    height: 4px;
    border-radius: 10px;
    background-color: #555555;
    margin-bottom: 5px;
}

.one{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.two{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.three{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}
/*This is how the lines should move, Should happen when you click**/
.one.open{
    transform: translateY(9px) rotateZ(45deg);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.two.open{
    width: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.three.open{
    transform: translateY(-9px) rotateZ(-45deg);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}


.menu {
/*    overflow: hidden;*/
    height: 3em;
    position: relative;
    z-index: 10;
}

.hamburger, .logo, .login-button, .basket, .profile-img {
    float: left;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.logo{
    font-size: 10px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.logo a{
      color: #000;
}

.logobig{
    display: none;
}

.login-button{
    font-size: 10px;
    right: 4em;
    padding: 5px;
    margin: 0;
}

.profile-img{
/*    float: right;*/
    right: 3em;
    margin: 0;
}
.profile-img img{
    width: 2.5em;
}

.basket{
    right: 0;
}

.basket img{
    width: 2em;
}

nav{
    /*Here You style the menu*/
    width: 100%;
    max-height: 0;
    opacity: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

nav.slidedown{
    max-height: 450px;
    width: 100%;
    opacity: 1;
    transition: max-height 0.3s ease-out;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.main-menu{
    margin-top: 30px;
    padding-right: 10px;
}

.main-menu li img{
    width: 15px;
    float: right;
}

.main-menu li{
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}

.main-menu >li{
    border-bottom: solid 1px #ddd;

}
/*The styling of the sub menu*/
ul.submenu{
    padding-left: 10px;
    font-size: 12px;
    list-style: none;
    margin-top: 0;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    opacity: 0;
    background-color: #ddd;
}

.open-submenu ul.submenu{
    max-height: 200px;
    transition: max-height 0.3s ease-out;
    opacity: 1;
    z-index: 200;
}

.submenu a{
    color: #000;
}

/* Changes the arrow up and down*/
li img.menu-arrow{
    transform: translateY(0px) rotateZ(0deg);
    transition: 0.3s ease-in-out;
}

li.open-submenu img.menu-arrow{
    transform: translateY(0px) rotateZ(180deg);
    transition: 0.3s ease-in-out;
}

/***************CONTENT START PAGE************/

.banner{
    background-color: #999;
    height: 10em;
    width: 100;
    margin-top: 20px;
    position: relative;
}

.register-frontPage{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);

}


/****************THIS IS THE MAIN CONTENT*********/

.startContent{
    overflow: hidden;
    margin-top: 40px;
}

.start-box{
    float: left;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.start-box:nth-child(even){
    padding-right: 0;
}
.start-box:nth-child(odd){
    padding-left: 0;
}

.innerbox{
    padding: 10px;
    box-sizing: border-box;
    background-color: #999;
    height: 10em;
    margin-bottom: 20px;
}

.start-box h2{
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}


/********This is the newsletter banner*********/
.startNewsletter{
    overflow: hidden;
    margin-top: 20px;
    background-color: var(--light-blue);
    position: relative;
    height: 10em;
}

.newsLetter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/********FOOTER*********/
footer{
    background-color: #666;
    height: 50px
}

footer p{
    color: #444;
    text-align: center;
    padding-top: 15px;
    font-size: 10px;
}

/****************************/
/*-- EDUCATION E-LEARNING --*/
/****************************/

.breadcrumb {
  margin-left: 10px;
  color: var(--light-blue);
  margin-top: 50px;
  font-family: 'open sans';
  font-size: 12px;
}

.e-title {
  margin-left: 10px;
}

ul.e-ul {
  overflow: hidden;
}

.e-li {
  background: #eee;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

li .e-img img {
  width: 100%;
  box-sizing: border-box;
}

li .li-txt {}

.li-txt h3 {
  font-size: 15px;
}

.li-txt p, .li-txt a {
  font-size: 13px;
}

/*--  NOTIFICATION -- */
.notification-overflow {
  width: 100%;
}

.notification-box {
  width: 200%;
  transition: transform 0.2s ease-out;
  transform: translateX(0) translateY(300px);

  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.85);
  color: #eee;

  padding-bottom: 16px;
}

.notification-box.slide-up {
  transition: transform 0.4s ease-out;
  transform: translateY(0);
}

.notification-box.slide-left {
  transition: transform 0.2s ease-out;
  transform: translateX(-50%);
}

.notification-box.slide-down {
  transition: transform 0.4s ease-out;
  transform: translateY(300px);
}

.notification-box.slide-down-x {
  transition: transform 0.4s ease-out;
  transform: translateX(-50%) translateY(300px);
}

.notification-box h2 {
  font-weight: 600;
}

.notification-box p {
  margin-bottom: 15px;
}

.notification-1 {
  float: left;
	width: 50%;
}

.yes-btn {
  background: var(--light-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 15px;
}

.no-btn {
  background: #999;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 15px;
}

.notification-2 {
  float: left;
	width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
}

.x {
  color: #999;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 10px;
}

/* -- COOKIE -- */
.cookie-overflow {
  width: 100%;
}

.cookie-box {
  width: 100%;
  transition: transform 0.2s ease-out;
  transform: translateX(0) translateY(300px);

  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.85);
  color: #eee;

  padding-bottom: 16px;
}

.cookie-box.slide-up {
  transition: transform 0.4s ease-out;
  transform: translateY(0);
}

.cookie-box.slide-down {
  transition: transform 0.4s ease-out;
  transform: translateY(300px);
}

.cookie-box h2 {
  font-weight: 600;
}

.cookie-box p {
  margin-bottom: 15px;
}

.cookie-ok {
  background: var(--light-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 15px;
}



/****************************/
/*-- Register page --*/
/****************************/

.registerinfo{
  margin-bottom: 20px;
}

.registercontainer{
  position: relative;
  /* width: 85%; */
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--dark-grey);
}


.inner_steps_container{
  position: relative;
  width: 300%;
  transition: transform 0.3s ease-out;
	transform: translateX(0);
}

.reg_step{
  float: left;
  width: 33.33333%;
  display: inline;
	margin: 0;
}

.registercontainer label p{
  font-size: 16px;
  margin-top: 20px;
}


.inner_steps_container.next-step2{
  transform:translateX(-33.3333333%);
}
.inner_steps_container.next-step3{
  transform:translateX(-66.666%);
}

.form-box{
  padding: 0 20px;
  margin-bottom: 20px;
}

.reg_step h3{
  margin-bottom: 20px;
}

/* Progressbar */
.progressbar{
  height: 45px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 20px auto;
	background-size: 80%;

}

.probar1{
  background-image: url('../img/progressbar-01.png');

}

.probar2{
  background-image: url('../img/progressbar-02.png');

}

.probar3{
  background-image: url('../img/progressbar-03.png');
}



/* Question marks next to labels */
#helptext{
  font-size: 12px;
  font-style: italic;
  color: var(--dark-grey);
  margin-top: 0px;

}

.qmark{
  content: '';
  height: 20px;
  background-image: url('../img/question-mark.png');
	background-repeat: no-repeat;
	background-size: 20px;
	padding-left: 20px;
  float: right;
  margin: 10px 0;
  position: relative;
  transition: background-size, margin, height 0.3s ease-out;


}
.qmark.qmark_focus{
  height: 23px;
  background-size: 23px;
  margin: 5px 0;
  padding-left: 25px;
}

#qtext{
  color: var(--dark-grey);
  font-size: 10px;
  line-height: 12px;
  background-color: #eee;
  padding: 10px;

}

.qtext_div{
  position: absolute;
  bottom: 20px;
  right: 15px;

  width: 200px;
  transition: transform 0.3s ease-out;
	transform: scale(0, 0);
  transform-origin: bottom right;

}

.qmark.show_qtext .qtext_div{
  transform: scale(1, 1);
}

input[type='text'],
input[type='email'],
input[type='password'],
select{
  -webkit-appearance: none;
	display: block;
	font-size: 16px;
	line-height: 40px;
	border: solid 1px #eee;
  width: 90%;
  float: left;
  background-color: white;
}

.continue{
  float: right;
  border: none;
  margin: 0px 0px 20px 0px;
}
.previous{
  margin:20px 0px 20px 0px;
  float:left;
}

.register{
  /* position: absolute;
  right: 40px;
  bottom: 20px; */
  float: right;
  margin: 20px 0px 20px 0px;
}

.errormessage{
  clear: left;
  color: #e30b00;
	margin-bottom: 20px;
  margin:0;

  max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
.registercontainer label .errormessage > p{
  font-size: 12px;
  line-height: 22px;
	font-weight: 500;
  margin-top: 0px;
}

label.error *[required] {
	background-color: #f5e8e8;
	border-color: #e30b00;
	color: #e30b00;
	position: relative;
}

label.error .errormessage {
	max-height: 30px;
}

.errormessage2{
  clear: left;
  color: #e30b00;
	margin-bottom: 20px;

  max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
.registercontainer label .errormessage2 p{
  font-size: 12px;
  line-height: 22px;
	font-weight: 500;
  margin-top: 0px;
}

label.error2 *[required] {
	background-color: #f5e8e8;
	border-color: #e30b00;
	color: #e30b00;
	position: relative;
}

.registercontainer label.error2 .errormessage2 {
	max-height: 30px;
}
.reg-step2{
  position: relative;
}

.step3{
  text-align: center;
 }

 .now_registered{
   margin-bottom: 40px;
 }

 .go_to_home, .go_to_profile{
   display: block;
   margin: 20px auto;
   width: 150px;
   font-size: 14px;
 }




/*-- Desktop version --*/
@media (min-width: 640px){

    .button{
        font-size: 15px;
    }

    .logobig{
        display: block;
    }
    .logosmall{
        display: none;
    }

/******The content start page********/
    .banner{
      height: 20em;
    }

    .start-box h2{
        font-size: 20px;
    }

    footer p{
      font-size: 15px;
    }

    main {
      margin-top: 50px;
    }

    /********The education page******/

    ul .e-ul{
      width: 100%;
      box-sizing: border-box;
      margin-right: 10px;
      text-align: center;
    }

    .e-li {
      float: left;
      width: 31%;
      list-style: none;
      padding: 10px;
      box-sizing: border-box;
      margin-left: 10px;
    }

    li .e-img img {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
    }

 /***** Register page ********/

    .progressbar{
      height: 60px;
    }
    .registercontainer{
      width: 520px;
    }

    .form-box{
      padding: 0 40px;
    }

    .go_to_home, .go_to_profile{
      width: 160px;
    }
}

/*****The second media query******/
@media (min-width: 1036px) {

    .logo{
        left: 9em;
    }
    .hamburger{
        display: none;
    }

    nav {
        display: block;
        max-height: 200px;
        clear: none;
        opacity: 1;
        background-color: transparent;
        overflow: inherit;
        text-align: center;
        border-bottom: none;
    }

    nav.main-menu{
        display: block;
/*        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;*/
    }

    .main-menu{
        margin-top: 50px;
    }

    .main-menu li{
        display: inline;
        font-size: 12px;
        position: relative;
        padding: 10px 10px;
        transition: background-color 0.3s ease-out;
    }
    .main-menu > li:hover{
        background-color: #ddd;
    }

    .main-menu >li{
        border-bottom: none;
    }

    .main-menu img.menu-arrow{
        display: none;
    }

    ul.submenu {
        position: absolute;
        left: 0px;
        top: 20px;
        padding: 0;
        margin-top: 20px;
        opacity: 0;
        max-height: 0;
        width: 160px;
        clear: both;
        transition: max-height 0.3s ease-out;
        font-size: 12px;
        background-color: #fff;
    }

    .submenu a{
        padding: 5px 5px;
        transition: color 0.3s ease-out;
        display: inline-block;
    }

    .submenu a:hover{
        color: var(--light-blue);
    }

    .main-menu li:hover .submenu{
        opacity: 1;
        max-height: 500px;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    }

    .main-menu li img.search-icon{
        float: inherit;
        padding-left: 10px;
    }

/***** Register page ********/

    .registercontainer{
      width: 600px;

    }
    .form-box{
      padding: 0 60px;
    }

}
